<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!--{% if n > 10 %}
      <h2>{{n}} is greater number than 10</h2>
    {% else %}
      <h2>{{n}} is smaller than 10</h2>
    {% endif %}
-->

  {% for i in name %}
  <center>
    <h1>{{i}}</h1>
  </center>
  {% endfor %}


  {% for i in name %}
  <center>
    <h1>{{i}}</h1>
  </center>
  {% endfor %}
</body>

</html>